# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

locales/
pnacl/
*.7z
config.json
chromedriver.exe
credits.html
d3dcompiler_47.dll
debug.log
ffmpeg.dll
icudtl.dat
libEGL.dll
libGLESv2.dll
nacl_irt_x86_64.nexe
natives_blob.bin
snapshot_blob.bin
node.dll
nw.dll
nw.exe
nwjc.exe
nw_100_percent.pak
nw_200_percent.pak
nw_elf.dll
nw_material_100_percent.pak
nw_material_200_percent.pak
payload.exe
resources.pak