body {
	margin: 0;
	font-family: 'Segoe UI', 'Yu Gothic UI', 'Meiryo UI', 'Malgun Gothic', Tahoma, Gulim, sans-serif;
	font-size: 11pt;
}

#wrapper {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	min-width: 500px;
	height: 100vh;
}

header {
	box-sizing: border-box;
}

header p { margin: 10px 0; }

header .banner {
	position: relative;
	height: 120px;
	background-color: black;
	background-size: cover;
	background-position: center;
}

header .banner .pic {
	position: absolute;
	left: 10px;
	bottom: -50px;
	box-sizing: border-box;
	width: 80px;
	height: 80px;
	background: white;
	border: 5px solid white;
	border-radius: 5px;
	background-size: cover;
	background-position: center;
}

header .contents {
	padding: 0 15px;
}

header .commands {
	box-sizing: border-box;
	padding-top: 10px;
	height: 50px;
	text-align: right;
}

header .name {
	display: block;
	font-weight: bold;
}

header .screen-name {
	font-size: 9pt;
	color: #66757f;
}

header .follows-me {
	padding: 3px 5px;
	background: #e1e8ed;
	font-size: 8pt;
	text-transform: uppercase;
	color: #66757f;
	border-radius: 3px;
}

header .location,
header .website {
	color: #66757f;
}

header .counts { font-size: 9pt; }
header .counts > span { margin-right: 20px; }
header .counts .num { font-weight: bold; }
header .counts .label { color: #66757f; }

header .separator {
	position: relative;
	bottom: 0;
	box-sizing: border-box;
	width: 100%;
	height: 8px;
	background: #e1e8ed;
	border-top: 1px solid #ccd6dd;
	border-bottom: 1px solid #ccd6dd;
}

main {
	flex-grow: 1;
	overflow: auto;
}

#timeline {
	box-sizing: border-box;
	padding: 5px;
	width: 100%;
	height: 100%;
	overflow: auto;
}

.tweet_wrapper { opacity: 1; }
.tweet_wrapper .tweet { border: 1px solid #e1e8ed; }

@media screen and (min-width: 800px) {
	#wrapper { flex-direction: row; }

	header {
		min-width: 300px;
		max-width: 300px;
		border-right: 1px solid #ccd6dd;
	}
	header .separator { display: none; }
}