body {
	margin: 0;
	font-family: 'Segoe UI', 'Yu Gothic UI', 'Meiryo UI', 'Malgun Gothic', Tahoma, Gulim, sans-serif;
	color: #333;
	-webkit-user-select: none;
	cursor: default;
}

#wrapper {
	width: 100%;
}

header.top {
	padding: 10px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

header.top span { font-weight: bold; }

main {
	padding: 10px;
	font-size: 11pt;
}

section header {
	padding: 5px;
	border-bottom: 2px solid #55acee;
}

section header span {
	color: #55acee;
	font-weight: bold;
}

section > div {
	padding: 5px;
}

section > div .settings-item { margin-bottom: 5px; }

/* Custom input appearance */
.settings-item input[type='input'] { display: flex; }

.settings-item input[type='checkbox'] { display: none; }

.settings-item input[type='checkbox'] + label {
	display: inline-block;
	position: relative;
	margin-right: 5px;
	margin-bottom: -4px;
	box-sizing: border-box;
	width: 36px;
	height: 20px;
	border: 1px solid gray;
	background: white;
	border-radius: 2px;
}

.settings-item input[type='checkbox'] + label div {
	display: inline-block;
	position: absolute;
	top: 1px;
	left: 1px;
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	background: silver linear-gradient(transparent, rgba(0, 0, 0, 0.1));
	border-radius: 2px;
	transition: all 0.1s linear;
}

.settings-item input[type='checkbox']:checked + label div {
	left: 17px;
	background-color: #55acee;
}