html { height: 100%; }

body {
	background-color: #000;
	height:100%;
	margin:0;
	color: whitesmoke;
  font-family: 'Segoe UI', 'Yu Gothic UI', 'Meiryo UI', 'Malgun Gothic', Tahoma, Gulim, sans-serif;
}

a.page:link
{
	color: white;
	text-decoration: none;
}

a.page.disabled:link
{
	color: gray;
	cursor: default;
}

#wrapper
{
	width: 100%;
	height: 100%;
}

#header
{
	box-sizing: border-box;
	background-color: #333;
	color: lightgray;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
}

#button-container
{
	position: absolute;
	top: 0;
	left: 0;
}

#image-container
{
	width: 100%;
	height: calc(100% - 40px);
}

#image {
	object-fit: scale-down;
	width: 100%;
	height: calc(100% - 5px);
}

.hidden {
	visibility: hidden;
}

#arr_prev, #arr_next {
  position: absolute;
  /*display: none;*/
  text-shadow: none;
  text-align: center;
  background: #333;
  color: #fff;
  top: 50%;
  margin-top: -2.5em;
  height: 5em;
  width: 5em;
  z-index: 60;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#arr_prev {
  left: 10px;
}

#arr_next {
  right: 10px;
}
/* Modern Google Loader in Pure CSS */
/* https://gist.github.com/CodeMyUI/3c3a57a17cb56828356a */
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.loader {
  position: relative;
  margin: 0px auto;
  width: 100px;
  height: 100px;
  zoom: 1;
}

.circular {
 animation: rotate 2s linear infinite;
 height: 100px;
 position: relative;
 width: 100px;
}


.path {
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
  animation: 
   dash 1.5s ease-in-out infinite,
   color 6s ease-in-out infinite
  ;
  stroke-linecap: round;
}

@keyframes rotate{
 100%{
  transform: rotate(360deg);
 }
}
@keyframes dash{
 0%{
  stroke-dasharray: 1,200;
  stroke-dashoffset: 0;
 }
 50%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -35;
 }
 100%{
  stroke-dasharray: 89,200;
  stroke-dashoffset: -124;
 }
}
@keyframes color{
  100%, 0%{
    stroke: #d62d20;
  }
  40%{
    stroke: #0057e7;
  }
  66%{
    stroke: #008744;
  }
  80%, 90%{
    stroke: #ffa700;
  }
}