html {
	background: url(arisaka_mashiro.png) no-repeat center fixed;
	height: 100%;
	overflow: hidden;
}

body {
	background-image: linear-gradient(transparent, rgba(0,0,0,0.5));
	margin: 0px;
	height: 100%;
	overflow: hidden;
	font-family: 'Segoe UI', 'Yu Gothic UI', 'Meiryo UI', 'Malgun Gothic', Tahoma, Gulim, sans-serif;
	font-size: 11pt;
}

#header {
	margin-top: -50px;
	width: 100%;
	height: 50px;
	background-color: #ffffff;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

#wrapper {
	padding: 50px 0 0 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#container {
	height: 100%;
}
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background-color: #eaeaea;
    border-left: 0px solid #ccc;
}
::-webkit-scrollbar-thumb {
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
}
.content {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}

.timeline {
	margin: 8px;
}

.msgbox_orange {
  position: relative;
  display: inline-block;
 
  width: 100%;
  padding: 1em;
  background: rgba(255, 153, 0, 0.7);
  color: white;
}

.msgbox_blue {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background: rgba(45, 100, 245, 0.7);
  color: white;
}

.msgbox_tomato {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  background: rgba(255, 91, 71, 0.7);
  color: white;
}

.writebox {
	padding: 10px 10px 10px 10px;
	background: white;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.writebox textarea {
	box-sizing: border-box;
    width: 100%;
    resize: none;
    margin-bottom: 1px;
    font-size: 10.5pt;
    font-family: 'Segoe UI', 'Yu Gothic UI', 'Meiryo UI', 'Malgun Gothic', Tahoma, Gulim, sans-serif;
}

.writebox textarea:focus {
	outline-color: #55acee;
}

.writebox .buttons
{
	display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.buttons *:focus {
	outline-color: #55acee;
}


.writebox input[type=button]
{
	border: 0;
    margin-left: 10px;
    padding: 5px 15px;
    font-size: 12pt;
    font-weight: bold;
    color: white;
    background: #55acee;
    border-radius: 3px;
}

.writebox input[type=button]:disabled
{
	background: silver;
}

.tweet {
	border: 0px;
	padding: 10px;
	overflow: hidden;
	min-height: 50px;
	border-radius: 4px;
	margin: 5px 5px 10px 5px;
	background-color: rgba(255, 255, 255, 0.7);
	color: #000;
	opacity: 0;
    animation: new-item-animation .15s linear forwards;
}

.emoji {
	width: 16px;
	height: 16px;
}

@keyframes new-item-animation {
    from {
        opacity: 0;
        transform: translateY(0);
}
    to {
        opacity: 1;
        transform : translateY(0);
    }
}
 
.hidden {
	visibility: hidden;
	position: absolute;
}

.disappear {
	visibility: hidden;
}

.tweet_emp_blue {
	border-left: 10px;
	border-style: inset;
	border-left-color: rgba(29, 161, 242, 0.8);
}

.tweet a
{
	color: #2B8FCC;
}
.tweet a:link, a:visited, a:active { color: #000; text-decoration: none;}
.tweet a:hover {
	color: red;
	text-decoration: underline;
}

.profile-image {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	border-radius: 4px;
}


.deleted {
	text-decoration: line-through;
    pointer-events: none;
}

.tweet-name {
	margin-left: 60px;
	margin: 0px;
	display: inline-block;
}

.tweet-name:hover a {
	color: #2B8FCC;
	text-decoration: underline;
}

.tweet-id {
	color: #555;
}

.tweet-name:hover span {
	text-decoration: none;
}

.tweet-text {
	padding-left: 60px;
	padding-bottom: 10px;
	margin: 0px;
	color: #000;
}

.tweet-date {
	padding-left: 60px;
	padding-bottom: 10px;
	margin: 0px;
	color: #000;
}

.tweet-text a:link {
	color: #2B8FCC;
}

.tweet-text a:hover {
	color: #2B8FCC;
}

.tweet-media-container
{
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px 10px 60px;
    height: 250px;
}

.tweet-image {
    box-sizing: border-box;
	/*height: 250px;*/
	padding: 5px;
}
    .tweet-media-container[data-media-count='1'] .tweet-image
    { width: 100%; height: 100%; }
    .tweet-media-container[data-media-count='2'] .tweet-image
    { width: 50%; height: 100%; }
    .tweet-media-container[data-media-count='3'] .tweet-image,
    .tweet-media-container[data-media-count='4'] .tweet-image
    { width: 50%; height: 50%; }
    .tweet-media-container[data-media-count='3'] .tweet-image:first-of-type
    { width: 100%; }

.tweet-image img {
	object-fit: cover;
	width: 100%;
	height: 100%;
    border-radius: 5px;
}
.infobox {
    position: absolute;
    margin-left: 70%;
    top: 60px;
    z-index: 1;
    background-color: rgba(255,255,0,0.7);
}
.new_tweet_noti {
	position: absolute;
	padding-left: 43%;
	top: 80px;
	z-index: 1;
}
.new_tweet_noti svg {
    display: inline-block;
    fill: currentcolor;
    height: 1.25em;
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: text-bottom;
}
.new_tweet_noti a {
    background: #1da1f2;
    border-radius: .85rem;
    position: relative;
    padding: 0 .85rem;
    top: -2em;
    white-space: nowrap;
	color: white;
	text-decoration: none;
}

.new_tweet_noti span {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3125;
    word-wrap: break-word;
    -webkit-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    -webkit-font-kerning: normal;
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
}

.retweeted_tweet {
	margin: 0 60px 5px 62px;
	color: #555;
}

.retweeted_tweet svg {
	margin-left: -30px;
    display: inline-block;
    fill: currentcolor;
    height: 1.25em;
    max-width: 100%;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: text-bottom;
}

.retweeted_tweet_text {
}

.retweeted {
/*	color: #19cf86;*/
	color: #1f67b5;
}

.favorited {
	color: #e81c4f;
}

.tweet-task {
	padding-left: 60px;
}

.tweet-task-box {
	display: inline-block;
	width: 100px;
}

.tweet-task button {
    background: 0 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    user-select: none;
    white-space: nowrap;
}

.tweet-task button:focus {
	outline:0 none;
}

.tweet-task svg {
    display: inline-block;
    fill: currentcolor;
    height: 1.25em;
    max-width: 100%;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: text-bottom;
}

#header svg {
    fill: currentcolor;
    align-items: stretch;
    position: relative;
	height: 2.5em;
	width: 20%;
}
#header {
    color: #777777;
    text-decoration: none;
}

.selected {
	color: #1da1f2 !important;
}

.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('icon_top.png') no-repeat;
    background-color: #000;
}

.navigator a:link, a:visited, a:active {
    color: inherit;
}
.navigator a:hover {
	color: #1da1f2;
	text-decoration: none;
}