html { height: 100%; }

body {
	background-color: #000;
	height:100%;
	margin:0;
	color: whitesmoke;
}

a.page:link
{
	color: white;
	text-decoration: none;
}

a.page.disabled:link
{
	color: gray;
	cursor: default;
}

#wrapper
{
	width: 100%;
	height: 100%;
}

#header
{
	box-sizing: border-box;
	background-color: #333;
	color: lightgray;
	padding: 0 10px;
	height: 40px;
	line-height: 40px;
}

#button-container
{
	position: absolute;
	top: 0;
	left: 0;
}

#image-container
{
	object-fit: contain;
	width: 100%;
	height: calc(100% - 40px);
}

#image {
	object-fit: contain;
	width: 100%;
	height: calc(100% - 5px);
}

.hidden {
	visibility: hidden;
}